@import "../../../@shared/themes/styles/variable.scss";
.container {
    opacity: 0.9;
    padding: 0;
    margin:0
}

.container1 {
    // background-color: rgba(175, 35, 35, 0.8);
    display: grid;
    height: 85vh;
}

.formulaireAjout {
    background-color: #ffffff;
    justify-content: center;
    // height: 100vh;
    display: grid;
    padding: 50px;
}
mat-form-field{
    width: 400px;
    margin: auto;
}
.button {
    width: 400px;
    text-align: center;
    height: 50px;
    color: #ffffff;
    background-color:$blue-color;
    border: none;
    border-radius: 5px;
}
.input {
    grid-column: 1 / span 2;
}
form {
    width: 50vw;
}
.full-width {
    width: 80%;
    margin-left: 10%;
}
.formulaireAjout{
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    form{
        height: max-content;
    }
}