$primary-color: #CF0A0A;
$secondary-color:#E14D2A;
$third-color:#EEEEEE;
$size-title:30px;
$size-subtitle:20px;
$size-para:15px;
$red-color :#AF2323;
$red-opacity-color :#af2323bd;
$blue-color : #2F5A82;
