<div class="header-container">
  <div class="logo-container">
    <h1 class = "text-danger title"><img class= "logo-icon mt-3"src="../../../assets/images/mit.png" alt="">MIT</h1>
  </div>
  
  <div class="container-dropdown">
    <div class="container-annee">
      <h5><img src="../../../assets/images/calendar-regular 1.svg" alt="calendar"  height="20px" >Année Universitaire : <span>  2021-2022</span></h5>
    </div>
    
    <div class="dropdown">
      <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="users-gear"src="../../../assets/images/Ellipse 1.svg" alt="user" height="30px" class="col-3">
        Admin
      </button>
      <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="#" routerLink="/pages/parametres">Parametres</a></li>
        <li><a class="dropdown-item" href="#" routerLink="">Se déconnecter</a></li>
      </ul>
    </div>
  </div>
</div>
