<div class="header-container">
  <div class="logo-container">
    <h1 class = "text-danger title w-100"><img class= "logo-icon"src="../../../assets/images/mit.png" alt=""> <span>MIT</span></h1>
  </div>
  
  <div class="container-dropdown">
    <div class="container-annee">
      <h5><img src="../../../assets/images/calendar-regular.svg" alt="calendar"  height="20px" >Année Universitaire : <span class="px-5">  2021-2022</span></h5>
    </div>
    
    <div class="dropdown">
      <button class="btn dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="users-gear"src="../../../assets/images/user-regular.svg" alt="user" height="20px" class="col-3">
        Nom-Prenoms
      </button>
      <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item" href="#">Mon Profil</a></li>
        <li><a class="dropdown-item" href="#">Parametres</a></li>
        <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
      </ul>
    </div>
  </div>
</div>
