@import '../themes/styles/variable.scss';
.sidemenu{
    background-color:$red-opacity-color;
    height:100%;
    
}
.color-white{
    color :$third-color;
}
.sidemenu .logo{
    
    padding-right:6px;
}
.line ::before{
    content: '';
    width:2px;
    height: 40px;
    background-color: white;
    display: block;
    position: absolute;
    left:25px;

}
.line ul li{
    margin-left: 20px;
    margin-top: 15px;
    a{
        text-decoration: none;
    }
}

